@model ProjectMann.Core.Domain.ItemInventario

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ItemInventario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Nombre del software:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreSoftware)
        </dd>
        <dt class = "col-sm-2">
            Número de licencia:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Licencia)
        </dd>
        <dt class = "col-sm-2">
           Versión:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Version)
        </dd>
        <dt class = "col-sm-2">
            Fecha de creación:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>
        <dt class = "col-sm-2">
            Fecha de modificación:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaModificacion)
        </dd>
        <dt class = "col-sm-2">
           Usuario asignado:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FkAsignadoANavigation.Apellido)
        </dd>
        <dt class = "col-sm-2">
            Usuario que crea:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FkUsuarioCreaNavigation.Apellido)
        </dd>
        <dt class = "col-sm-2">
           Usuario que modifica:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FkUsuarioModificaNavigation.Apellido)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdItemInventario">
        <input type="button" value="Editar" class="btn btn-primary" />
    </a>|
    <a asp-action="Index">
        <input type="button" value="Volver" class="btn btn-secondary" />
    </a>
</div>
