@model IEnumerable<ProjectMann.Core.Domain.ItemInventario>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de las licencias de software</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nombre del software
            </th>
            <th>
                Número de licencia
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Version)
            </th>
            <th>
                Usuario asignado
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreSoftware)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Licencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Version)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkAsignadoANavigation.NombreUsuario)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdItemInventario">
                    <input type="button" value="Editar" class="btn btn-primary" />
                </a>
                <a asp-action="Details" asp-route-id="@item.IdItemInventario">
                    <input type="button" value="Más información" class="btn btn-info" />
                </a>
                <a asp-action="Delete" asp-route-id="@item.IdItemInventario">
                    <input type="button" value="Eliminar" class="btn btn-danger" />
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
