@model IEnumerable<ProjectMann.Core.Domain.Usuario>

@{ ViewData["Title"] = "Index"; }

<h1>Lista de Usuarios</h1>

@if (User.IsInRole("1"))
{
<p>
    <a asp-action="Create" class="btn btn-success">Crear Nuevo</a>
</p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Apellido
            </th>
            <th>
                Ususario
            </th>
            <th>
                Email
            </th>
            <th>
                Estado
            </th>
            <th>
                Rol
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
                        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @((item?.Estado ?? false) ? "Activo" : "Inactivo")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkRolNavigation.Nombre)
            </td>
            <td>

                @if (User.IsInRole("1") || User.IsInRole("2"))
                {
            <a asp-action="Edit" asp-route-id="@item.IdUsuario">
                <input type="button" value="Editar" class="btn btn-primary" />
            </a>                }

                @if (User.IsInRole("1"))
                {
            <a asp-action="Details" asp-route-id="@item.IdUsuario">
                <input type="button" value="Más información" class="btn btn-info" />
            </a>
            <a asp-action="Delete" asp-route-id="@item.IdUsuario">
                <input type="button" value="Eliminar" class="btn btn-danger" />
            </a>
                }
            </td>
        </tr>}
    </tbody>
</table>