@model IEnumerable<ProjectMann.Core.Domain.Ticket>

@{
    ViewData["Title"] = "Index";
}

<h1>Listado de tickets</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Crear nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Desarrollador asignado
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Contenido)
            </th>

            <th>
                Estado
            </th>
            <th>
                Tipo de prioridad
            </th>
            <th>
                Tipo de ticket
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.FkAsignadoANavigation.NombreUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contenido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkEstadoNavigation.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkPrioridadNavigation.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkTipoTicketNavigation.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdTicket">
                    <input type="button" value="Editar" class="btn btn-primary" />
                </a>
                <a asp-action="Details" asp-route-id="@item.IdTicket">
                    <input type="button" value="Más información" class="btn btn-info" />
                </a>
                <a asp-action="Delete" asp-route-id="@item.IdTicket">
                    <input type="button" value="Eliminar" class="btn btn-danger" />
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
